<div class="container-fluid" style="background-image: url('assets/img/d.svg');background-repeat: no-repeat;background-size: cover;">
    <div class="row">
        <div class="col-md-12 pt-5 pb-5 text-center">
            <br>
            <h3 style="font-family: google-sans;color: #1a73e8;" class="animated fadeInUp">{{regJson.eventInfo.eventName}}</h3>
            <p style="font-family: google-sans" class="mt-3 animated fadeInUp"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> &nbsp; {{regJson.eventInfo.eventDate}}</p>
            <p style="font-family: google-sans" class="animated fadeInUp"><i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; {{regJson.eventInfo.eventVenue}}</p>


            <p>Questions? Please contact {{regJson.chapterEmail}}.</p>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-md-8 offset-md-2">
            <!-- Add Google Map Embed link under src tab -->
            <iframe class="z-depth-1" src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d54572.966400899255!2d75.66856369481403!3d31.253671605956708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x391a5a594d22b88d%3A0x4cc934c58d0992ec!2sLovely+Professional+University+-+LPU+Jalandar%2C+Jalandhar-Delhi+G.T.+Road%2C+National+Highway+1%2C+Phagwara%2C+Punjab+144411%2C+India!3m2!1d31.253603!2d75.70366899999999!4m5!1s0x391a5a594d22b88d%3A0x4cc934c58d0992ec!2sLovely+Professional+University+-+LPU+Jalandar%2C+Jalandhar-Delhi+G.T.+Road%2C+National+Highway+1%2C+Phagwara%2C+Punjab+144411%2C+India!3m2!1d31.253603!2d75.70366899999999!5e0!3m2!1sen!2sin!4v1530220604163" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
